@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libertinus+Sans:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #5a002b;
    --primary-color-light: #ffe3f1;
    --background-color: #81003e;
    --main-text: #303335e7;
    --text-dark: #dc006a;
    --max-width: 1200px;
}

header p,
header a {
    text-decoration: none;
    color: #303335e7;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
}

@media (max-width: 820px) {

    header p,
    header a {
        font-size: 18px;
        text-align: center;
    }
}

.about-section {
    display: flex;
    margin: auto;
    margin-bottom: 80px;
    width: 1050px;
    height: auto;
}

@media(max-width:393px) {

    .about-section,
    .team-section,
    .listen-container {
        width: 393px !important;
        max-width: 393px !important;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:820px) {

    .about-section,
    .team-section,
    .listen-container {
        width: 820px;
        max-width: 820px;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}

.rank-container {
    display: flex;
    margin-top: 40px;
}

.rank-top {
    display: flex;
    flex-direction: row;
}

.rank-rect {
    width: 10px;
    height: 180px;
    background: linear-gradient(to bottom, var(--background-color), var(--text-dark), white 90%);
}

.rank-title,
.rank-title2 {
    display: flex;
    width: 500px;
    flex-direction: column;
    padding-left: 40px;
    height: auto;
}

.rank-title h2,
.rank-title2 h2 {
    font-size: 40px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--main-text);
    margin-bottom: -6px;
}

.rank-title p,
.rank-title2 p {
    justify-content: center;
    font-size: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
    letter-spacing: 1px;
    line-height: 1.4;
}

.rank-images {
    display: flex;
    gap: 20px;
    padding-left: 40px;
}

.rank-image {
    flex-direction: row;
    gap: 20px;
}

.rank-image img {
    width: 220px;
    aspect-ratio: 3/2;
    border-radius: 8px;
    object-fit: cover;
}

@media(max-width:393px) {
    .rank-container {
        width: 90% !important;
        margin: auto;
        flex-direction: column;
        gap: 20px;
        margin-left: 40px !important;
    }

    .rank-rect {
        height: 140px !important;
    }

    .rank-title h2 {
        font-size: 24px !important;
    }

    .rank-title p {
        font-size: 14px !important;
    }

    .rank-images {
        width: 79% !important;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px !important;
    }
}

@media(max-width:820px) {
    .rank-container {
        width: 90%;
        margin: auto;
        margin-left: 60px;
        flex-direction: column;
        gap: 20px;
    }

    .rank-rect {
        width: 10px;
        height: 180px;
    }

    .rank-title h2 {
        font-size: 36px;
    }

    .rank-title p {
        font-size: 18px;
    }

    .rank-images {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .rank-image img {
        width: 460px;
    }
}

.rank-image2 img {
    width: 500px;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.stats-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    text-align: center;
    gap: 40px;
}

.stat-box h1 {
    font-size: 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: all 0.3s ease;
}

.stat-box p {
    letter-spacing: 1px;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
}

@media(max-width:393px) {
    .rank-title2 {
        width: 95% !important;
    }

    .stat-box h1 {
        font-size: 24px !important;
    }

    .stat-box p {
        font-size: 16px !important;
    }
}

@media(max-width:820px) {
    .rank-image2 img {
        display: none;
    }

    .rank-title2 {
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
    }

    .stat-box h1 {
        font-size: 30px;
    }

    .stat-box p {
        font-size: 20px;
    }
}

.team-section {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 80px;
    width: 1100px;
    height: auto;
}

.team-bar {
    display: flex;
    margin: 0;
    justify-content: end;
    margin-top: 40px;
}

.team-rect {
    width: 10px;
    height: 180px;
    background: linear-gradient(to bottom, var(--background-color), var(--text-dark), white 90%);
}

.team {
    display: flex;
    width: auto;
    flex-direction: column;
    padding-right: 40px;
    height: auto;
    text-align: end;
}

.team h2 {
    font-size: 40px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--main-text);
    margin-bottom: -6px;
}

.team p {
    justify-content: center;
    font-size: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
    letter-spacing: 1px;
    line-height: 1.4;
}

.team-intro {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    gap: 46px;
    margin-left: 40px;
}

.team-tutor {
    position: relative;
    width: 100px;
    height: 100px;
}

.team-tutor img {
    display: flex;
    width: 65%;
    margin: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: transform 1.0s ease;
}

.team-tutor img:hover {
    transform: scale(1.1);
}

.tutor-hi {
    width: 135px;
    height: 220px;
    cursor: pointer;
}

.tutor-hi p {
    text-align: center;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
    line-height: 1.5;
}

.tutor-desc {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.6s ease;
}

.tutor-hi:hover .tutor-desc {
    opacity: 1;
    transform: translateY(10px);
}

@media(max-width:393px) {
    .team-section {
        margin-top: 40px;
        width: 90%;
    }

    .team-bar {
        margin: auto;
        flex-direction: column;
        max-width: 393px;
    }

    .team-rect {
        display: none;
    }

    .team {
        order: -1;
        margin-bottom: 20px;
    }

    .team h2 {
        font-size: 26px;
    }

    .team p {
        font-size: 14px;
    }

    .team-intro {
        display: grid;
        grid-template-columns: repeat(2, auto) !important;
        grid-template-rows: repeat(3, auto);
        width: 393px;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: -40px auto;
    }

    .team-tutor {
        margin: 40px;
        margin-bottom: 120px;
        margin-left: 10px;
    }

    .tutor-desc {
        opacity: 1;
        margin-top: 40px;
    }
}

@media(max-width:820px) {
    .team-section {
        margin-top: 40px;
        width: 90%;
    }

    .team-bar {
        margin: auto;
        flex-direction: column;
        max-width: 393px;
    }

    .team-rect {
        display: none;
    }

    .team {
        order: -1;
        margin-bottom: 20px;
    }

    .team h2 {
        font-size: 32px;
    }

    .team p {
        font-size: 16px;
        text-align: center;
    }

    .team-intro {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        width: 393px;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: -20px auto;
    }

    .team-tutor {
        margin: 40px;
        margin-bottom: 120px;
        margin-left: 10px;
    }

    .tutor-desc {
        opacity: 1;
        margin-top: 40px;
    }
}


.listen-container {
    display: flex;
    width: 1100px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
}

.listen {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: auto;
    min-height: 100%;
    padding: 40px;
    background-color: var(--background-color);
    justify-content: center;
}

.listen h2 {
    margin-top: -10px;
    justify-content: center;
    font-size: 40px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--primary-color-light);
}

.listen i,
.listen p {
    justify-content: center;
    width: 500px;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--primary-color-light);
    letter-spacing: 1px;
    line-height: 1.7;
}

.line {
    display: flex;
    margin: 40px;
    height: 0.5px;
    background-color: var(--primary-color-light);
}

.listen-picture {
    flex: 1;
    height: auto;
    max-height: 100%;
    overflow: hidden;
}

.listen-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:393px) {
    .listen {
        width: 90%;
        margin: -60px auto;
        margin-bottom: 20px;
    }

    .listen h2 {
        margin-top: -10px;
        justify-content: center;
        font-size: 40px;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        color: var(--primary-color-light);
    }

    .listen i,
    .listen p {
        justify-content: center;
        width: 500px;
        font-size: 14px;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        color: var(--primary-color-light);
        letter-spacing: 1px;
        line-height: 1.7;
    }

    .line {
        display: flex;
        margin: 40px;
        height: 0.5px;
        background-color: var(--primary-color-light);
    }

    .listen-picture {
        display: none;
    }
}

@media (max-width: 820px) {
    .listen-container {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    .listen {
        height: 90%;
        border-top-right-radius: 20px;
    }

    .listen h2 {
        margin-top: 0;
        font-size: 36px;
    }

    .listen i,
    .listen p {
        width: 100%;
    }

    .listen-picture {
        display: none;
    }
}