@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libertinus+Sans:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #5a002b;
    --primary-color-light: #ffe3f1;
    --background-color: #81003e;
    --main-text: #303335e7;
    --text-dark: #dc006a;
    --max-width: 1200px;
}

header p,
header a {
    text-decoration: none;
    color: #303335e7;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
}

.choose-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1100px;
    gap: 60px;
    margin: 40px auto;
    margin-bottom: 60px;
}

@media(max-width:393px) {
    .choose-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

@media(max-width:820px) {
    .choose-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}

.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 160px;
    border-radius: 20px;
    background-color: var(--background-color);
    transition: all 0.8s ease;
}

.choose:hover {
    transform: scale(1.02);
    box-shadow: 0 30px 60px rgba(255, 75, 174, 0.299);
}

.choose a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--primary-color-light);
    font-size: 28px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease;
}

.choose a:hover {
    transform: scale(1.04);
}

.brline {
    display: flex;
    margin: -10px auto;
    width: 900px;
    height: 1.08px;
    background-color: var(--primary-color);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: auto;
    font-size: 16px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
}

@media(max-width:820px) {
    .brline {
        width: 80%;
    }

    .filter {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 16px;
    }
}

.filter label {
    font-weight: 600;
}

.filter select {
    padding: 4px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: 0.3s ease;
    appearance: none;
}

.filter select:hover {
    border-color: var(--primary-color);
}

.filter select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px grba(129, 0, 62, 0.5);
}

.booking-section {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 40px auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.room-grid,
.instrument-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 40px auto;
}

.room-card,
.instrument-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
    border-radius: 15px;
    border: 1.2px solid var(--main-text);
    background: linear-gradient(to bottom, var(--primary-color-light), white 80%);
    transition: box-shadow 0.8s ease;
    padding: 20px;
    width: 240px;
    height: auto;
    position: relative;
}

.room-card:hover,
.instrument-card:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
}

.room-card h3,
.instrument-card h3 {
    text-align: left;
    margin: 10px;
    font-size: 18px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transition: transform 0.8s ease;
    line-height: 1.3;
}


.room-card h3::after,
.instrument-card h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background-color: var(--primary-color);
    transition: width 0.8s ease;
}

.room-card h3:hover,
.instrument-card h3:hover {
    transform: scale(1.02);
}

.room-card h3:hover::after,
.instrument-card h3:hover::after {
    width: 45%;
}

.room-card p,
.instrument-card p {
    display: block;
    margin: 10px 10px;
    align-items: flex-start;
    text-align: left;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.room-card button,
.instrument-card button {
    display: block;
    flex-shrink: 0;
    margin: 12px auto 0;
    border: none;
    border-radius: 25px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 40px;
    background-color: var(--background-color);
    color: white;
    font-size: 18px;
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: background 0.8s ease;
}

.room-card button:hover,
.instrument-card button:hover {
    border: 1px solid var(--background-color);
    color: var(--background-color);
    background-color: white;
}

.room-card button:disabled,
.instrument-card button:disabled {
    background: repeating-linear-gradient(45deg,
            #e1e1e1,
            #e1e1e1 8px,
            #f1f1f1 8px,
            #f1f1f1 16px);
    color: #8a8a8a;
    border: 1px dashed #bdbdbd;
    cursor: not-allowed;
    opacity: 0.75;
}

.room-card button:disabled:hover,
.instrument-card button:disabled:hover {
    background: repeating-linear-gradient(45deg,
            #e1e1e1,
            #e1e1e1 8px,
            #f1f1f1 8px,
            #f1f1f1 16px);
    color: #8a8a8a;
    border: 1px dashed #bdbdbd;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.148);
    z-index: 1000;
}

.modal-content {
    position: relative;
    margin-top: 30px;
    background-color: #f3f1ee;
    padding: 30px;
    border-radius: 20px;
    width: 360px;
    max-width: 90%;
}

.close-button {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    color: var(--main-text);
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: rgb(194, 0, 0);
}

.modal-content h2 {
    text-align: center;
    margin-top: 0;
    transition: transform 0.8s ease;
}

.modal-content h2:hover {
    transform: scale(1.04);
}

.modal-content input,
.modal-content select {
    width: 300px;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    color: #707070;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 0.4s ease;
}

.modal-content input:focus,
.modal-content select:focus {
    outline: none;
    border: 1px solid var(--background-color);
}

.modal-content label {
    display: flex;
    margin-bottom: 6px;
    color: var(--main-text);
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.modal-content select {
    appearance: none;
    color: #707070;
}

.modal-content button {
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    background-color: var(--background-color);
    color: white;
    font-size: 18px;
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: background 0.8s ease;
}

.modal-content button:hover {
    border: 1px solid var(--background-color);
    color: var(--background-color);
    background-color: white;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

@media(max-width:820px) {
    .booking-section {
        margin: auto;
        width: 80%;
        margin-bottom: 40px;
    }
}