@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libertinus+Sans:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #5a002b;
    --primary-color-light: #ffe3f1;
    --background-color: #81003e;
    --main-text: #303335e7;
    --text-dark: #dc006a;
    --max-width: 1200px;
}

header p,
header a {
    text-decoration: none;
    color: #303335e7;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1100px;
    margin-bottom: 60px;
}

@media(max-width: 393px) {
    section {
        margin: auto;
        width: 393px;
        max-width: 393px !important;
    }
}

@media(max-width: 820px) {
    section {
        margin: auto;
        width: 820px;
        max-width: 820px;
    }
}

.contact-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px auto;
    gap: 30px;
}

.contact {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    background-color: var(--primary-color-light);
    border: 1.5px solid var(--primary-color);
    border-radius: 20px;
    transition: transform 0.8s ease;
}

.contact:hover {
    transform: scale(1.06);
}

.contact img {
    display: flex;
    width: 80%;
    margin: 17px auto;
    justify-content: center;
    transition: transform 0.8s ease;
}

.contact:hover img {
    transform: scale(0.95);
}

.contact-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    opacity: 0;
    gap: 5px;
    transform: scale(1.1);
    transition: opacity 0.8s ease, transform 1.2s ease;
}

.contact:hover .contact-detail {
    opacity: 1;
    transform: scale(1);
}

.contact-id {
    border-bottom: 1px solid #efefef7c;
}

.contact-detail h2 {
    display: flex;
    margin: 5px;
    color: white;
    font-size: 22px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.contact-detail p {
    display: flex;
    margin-top: 6px;
    color: white;
    font-size: 12.5px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 393px) {
    .contact-main {
        display: flex;
        flex-direction: column;
    }
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 740px;
    border-radius: 20px;
    margin: 20px auto;
    background: linear-gradient(to bottom, var(--primary-color-light), white 50%);
    transition: transform 0.8s ease;
}

@media (max-width:393px) {
    .feedback {
        width: 80%;
        margin-bottom: 40px;
    }
}

.feedback:hover {
    transform: scale(1.01)
}

.feedback h2 {
    font-size: 40px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.feedback p {
    margin: 0;
    margin-top: -20px;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}

.feedback textarea {
    width: 60%;
    min-height: 40px;
    resize: none;
    padding: 12px 14px;
    border-radius: 12px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    transition: 0.4s ease;
}

.feedback textarea::placeholder {
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: #999;
}

.feedback textarea:focus {
    border: 1px solid var(--background-color);
}

.feedback-footer {
    display: flex;
    align-items: center;
}

.feedback-btn {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    border: none;
    transition: background 0.8s ease;
}

.feedback-btn:hover {
    border: 1px solid var(--background-color);
    color: var(--background-color);
    background-color: white;
}