@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libertinus+Sans:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #5a002b;
    --primary-color-light: #ffe3f1;
    --background-color: #81003e;
    --main-text: #303335e7;
    --text-dark: #dc006a;
    --max-width: 1200px;
}

header p,
header a {
    text-decoration: none;
    color: #303335e7;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 40px;
}

.courses-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 60px;
}


@media(max-width:393px) {

    .courses-box,
    .timetable-container,
    .join-container {
        width: 90%;
        max-width: 393px !important;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:820px) {

    .courses-box,
    .timetable-container,
    .join-container {
        width: 90%;
        max-width: 820px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.courses-main {
    width: 1100px;
    height: 750px;
    background-color: var(--background-color);
    margin: 40px;
}

.courses-menu {
    display: grid;
    width: 900px;
    height: auto;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    margin: 100px auto;
}

.course-focus {
    display: grid;
    width: 900px;
    height: auto;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.course-focus img {
    width: 900px;
    height: 450px;
    display: block;
    object-fit: cover;
    transition: transform 1.4s ease;
}

.course-focus:hover img {
    transform: scale(1.04);
}

.course-focus .overlay-focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.523);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-focus:hover .overlay-focus {
    opacity: 1;
}

.overlay-focus a {
    text-decoration: none;
    color: var(--primary-color-light);
    text-align: center;
    font-size: 30px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
}

@media(max-width:393px) {
    .courses-main {
        width: 90%;
        margin: 0 auto;
        height: auto;
    }

    .courses-menu {
        margin: 35px auto;
        grid-template-columns: 1fr !important;
        width: 80%;
    }

    .course-focus {
        margin-top: 20px;
        margin-bottom: 0;
        width: 90%;
        height: 90%;
        max-height: 380px;
    }
}

@media(max-width:820px) {
    .courses-main {
        width: 90%;
        margin: 0 auto;
        height: auto;
    }

    .courses-menu {
        margin: 35px auto;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .course-focus {
        margin-top: 20px;
        margin-bottom: 0;
        width: 90%;
        height: 90%;
        max-height: 380px;
    }
}

.courses-details {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: -180px;
    margin-bottom: 20px;
    width: 1000px;
    height: auto;
    background-color: rgb(255, 255, 255);
    gap: 30px;
}

.courses-options {
    display: flex;
    margin: 64px auto;
    gap: 50px;
    margin-bottom: 28px;
}

.active {
    height: 24.5px;
    border-bottom: 2px solid var(--background-color);
    transition: transform 0.8s ease;
}

.active:hover {
    transform: scale(1.09);
}

.active a {
    font-size: 18px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: var(--main-text);
    position: relative;
}

.active a:hover {
    color: var(--text-dark);
}

.option a {
    font-size: 18px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--main-text);
    position: relative;
    transition: transform 0.4s ease;
}

.option a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background-color: var(--background-color);
    transition: width 0.8s ease;
}

.option a:hover {
    color: var(--text-dark);
    transform: scale(1.08);
}

.option a:hover::after {
    width: 100%;
}

.option a:active::after {
    width: 100%;
    background-color: var(--text-dark);
}

.brline {
    display: flex;
    margin: -10px auto;
    width: 900px;
    height: 1.08px;
    background-color: var(--primary-color);
}

.courses-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: auto;
    margin-top: 20px;
}

.courses-detail p {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 920px;
    margin-bottom: auto;
}

.courses-detail table {
    border-collapse: collapse;
    overflow: hidden;
    margin: 40px auto;
    border-radius: 20px;
    transition: all 0.9s ease;
}

.courses-detail table:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.041);
}

table thead .bold {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

table th,
table td {
    padding: 18px 60px;
    text-align: center;
    color: var(--main-text);
    font-size: 16px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

tbody tr {
    transition: 0.25s ease;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.02);
    color: var(--primary-color);
    transform: scale(1.0);
}

.bold {
    font-weight: 600;
    color: var(--primary-color);
}

.price {
    transition: transform 0.8s ease;
}

.price:hover {
    transform: scale(1.08);
}

@media(max-width:393px) {
    .courses-details {
        width: 90%;
        margin: auto;
    }

    .courses-options {
        flex-direction: column !important;
    }

    .courses-options a {
        text-align: center;
    }

    .option {
        text-align: center;
    }

    .brline {
        display: none;
    }

    .courses-detail {
        width: 90%;
        margin: 0 auto;
    }

    .courses-detail p {
        width: 100%;
    }

    .detail {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .detail th,
    .detail td {
        margin: auto;
        font-size: 16px;
        padding: 16px;
    }
}

@media(max-width:820px) {
    .courses-details {
        width: 90%;
        margin: auto;
    }

    .courses-options a {
        text-align: center;
    }

    .option {
        text-align: center;
    }

    .brline {
        display: none;
    }

    .courses-detail {
        width: 90%;
        margin: 0 auto;
    }

    .courses-detail p {
        width: 100%;
    }

    .detail {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .detail th,
    .detail td {
        margin: auto;
        font-size: 16px;
        padding: 16px;
    }
}

.timetable-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

.timetable-container h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.timetable {
    width: 100%;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.9s ease;
}

.timetable:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.041);
}

.timetable th,
.timetable td {
    padding: 12px;
    text-align: center;
    width: 160px;
    height: 20px;
}

.time-col {
    font-weight: bold;
    color: var(--primary-color);
}

.timetable th {
    height: 30px;
    font-weight: bold;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

.timetable tr:hover {
    background-color: #ffe3f141;
}

.piano,
.violin,
.drum,
.xylophone,
.guzheng,
.guitar {
    color: var(--main-text);
    font-size: 16px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.piano {
    background-color: #efe4e4;
}

.violin {
    background-color: #f8f5f0;
}

.drum {
    background-color: #dfdfdf;
}

.guzheng {
    background-color: #eae7ef;
}

.xylophone {
    background-color: #e8ecf0;
}

.guitar {
    background-color: #eeefed;
}

.timetable table {
    margin: auto;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border-collapse: collapse;
}

@media (max-width: 393px) {

    .timetable {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: 20px auto;
    }

    .timetable table {
        min-width: 600px;
        width: 100%;
        border-collapse: collapse;
    }

    .timetable th,
    .timetable td {
        padding: 16px;
        text-align: center;
        white-space: nowrap;
    }

    .timetable::-webkit-scrollbar {
        height: 6px;
    }

    .timetable::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 3px;
    }

}


.join-container {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 20px auto;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.096);
    border-bottom-right-radius: 40px;
    margin-bottom: 60px;
}

.joinus-bar {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
}

.joinus-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: auto;
    padding: 40px;
    margin: 40px;
    margin-bottom: -60px;
    justify-content: center;
}

.joinus-title h2 {
    margin-top: -10px;
    justify-content: center;
    font-size: 40px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--primary-color);
}

.joinus-title p {
    margin: 0 auto;
    justify-content: center;
    width: 500px;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--main-text);
    letter-spacing: 1px;
}

.join-form {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 40px;
    width: 480px;
    gap: 20px;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 12px;
}

.join-form label {
    margin-left: 4px;
    color: var(--main-text);
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.join-form select {
    appearance: none;
    color: #707070;
}

.join-form input,
.join-form select {
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 0.4s ease;
}

.join-form input:focus,
.join-form select:focus {
    outline: none;
    border: 1px solid var(--background-color);
}

.join-image {
    flex: 1;
    height: 970px;
    overflow: hidden;
}

.join-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 40px;
}

button {
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    background-color: var(--background-color);
    color: white;
    font-size: 18px;
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: background 0.8s ease;
}

button:hover {
    border: 1px solid var(--background-color);
    color: var(--background-color);
    background-color: white;
}

@media(max-width:393px) {
    join-container {
        width: 90%;
        max-width: 393px;
        margin: 10px auto;
    }

    .joinus-bar {
        width: 100%;
        margin: 0 auto;
        margin-bottom: -40px;
    }

    .joinus-title {
        width: 90%;
        margin-left: 0;
    }

    .join-form {
        width: 80%;
        padding: 40px;
    }

    .join-image {
        display: none;
    }
}

@media(max-width:820px) {
    .join-image {
        display: none;
    }
}