@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libertinus+Sans:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #5a002b;
    --primary-color-light: #ffc1df;
    --background-color: #81003e;
    --main-text: #303335e7;
    --text-dark: #dc006a;
    --max-width: 1200px;
}

section {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: center;
}

@media (max-width:393px) {
    section {
        margin-top: 0 !important;
        display: flex;
        justify-content: center;
        margin: 0 auto 0 16px;
        width: 70%;
        margin-bottom: 80px;
    }
}

@media(max-width: 820px) {
    section {
        margin-top: 60px !important;
    }
}

@media (max-width: 1180px) {
    section {
        margin-top: 80px;
    }
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: auto;
}

.form-container h2 {
    text-align: center;
    color: #333;
    margin-top: 5px;
    margin-bottom: 20px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.input-wrapper label {
    display: block;
    font-size: 15px;
    color: #555;
    margin: 20px;
    margin-bottom: 6px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 40px 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
    font-family: "Lora", serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
}

input::-webkit-input-placeholder {
    font-family: "Lora", serif;
}

input::-ms-input-placeholder {
    font-family: "Lora", serif;
}

input:focus::placeholder {
    opacity: 0.8;
}

.input-wrapper .material-symbols-rounded {
    position: absolute;
    right: 20px;
    top: 32px;
    font-size: 24px;
    pointer-events: none;
}

.forgot_rmb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.forgot-pass-link {
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--main-text);
    margin-bottom: 6px;
    margin-right: 14px;
}

.forgot-pass-link:hover {
    color: var(--text-dark);
    text-decoration: underline;
}

span .rmb-container {
    width: 300px;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text);
}

.login-btn {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    color: white;
    border: none;
    border-radius: 36px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    border: 1px solid var(--background-color);
    background-color: white;
    color: var(--main-text);
}

.custom-box {
    position: relative;
    margin: 10px;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

.custom-box input {
    opacity: 0;
    position: absolute;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    height: 18px;
    width: 18px;
    background-color: rgba(0, 0, 0, 0.059);
    border-radius: 4px;
}

.custom-box input:checked~.checkmark {
    background-color: var(--background-color);
    box-shadow: 0 0 8px var(--text-dark);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.custom-box input:checked~.checkmark::after {
    display: block;
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.login-note {
    font-size: 12px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--main-text);
}